.vs/
Trl.TermDataRepresentation/obj/
Trl.TermDataRepresentation/bin/
Trl.TermDataRepresentation.Tests/obj/
Trl.TermDataRepresentation.Tests/bin/
UnitTestCoverageReport/
nupkg/
.vscode/
Trl.TermDataRepresentation.Tests/TestResults/
