.vs/
Trl.TermDataRepresentation/obj/
Trl.TermDataRepresentation/bin/
Trl.TermDataRepresentation.Tests/obj/
Trl.TermDataRepresentation.Tests/bin/
UnitTestCoverageReport/
nupkg/
.vscode/
Trl.TermDataRepresentation.Tests/TestResults/
Trl.Serialization/bin/
Trl.Serialization/obj/
Trl.Serialization.Tests/bin/
Trl.Serialization.Tests/obj/
Trl.Serialization.Tests/TestResults/
Trl.Serialization.SampleApp/bin/
Trl.Serialization.SampleApp/obj/
